@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:600&display=swap');

$poppins: 'Poppins', sans-serif;
$openSans: 'Open Sans', sans-serif;

$desktop: 1440px;
$mobile: 375px;

$pink: hsl(322,100%, 66%);
$veryPaleCyan: hsl(193, 100%, 96%);
$veryDarkCyan: hsl(192, 100%, 9%);
$grayishBlue: hsl(208, 11%, 55%);

